services:
  - type: web
    name: silkynet-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: PORT
        value: 10000
    disk:
      name: model-storage
      mountPath: /opt/render/project/src
      sizeGB: 1
